@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold: #D4AF37;
    --roseo: #E8C4B8; 
    --white: #FFFFFF;
    --grey: #5C5D5D;
    --dark-white: #D2D2D3;
    --section-titles: #101828;
    --second-bg-section: #FFF8F0;
    --text-color: #4A5565;
    --pink-bg: #FFE5E5;
    --img-text: #D1D0CD;
    --footer-span-txt: #99A1AF;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.first__section {
    background-image: url("/imgs/marriagecouple.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
}

.first__section__header {
    padding: 32px 124px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo__container {
    display: flex;
    text-decoration: none;
}

.logo {
    background-color: var(--gold);
}

.nav__logo__container span {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--white);
    margin-left: 8px;
}

.nav__list {
    display: flex;
    gap: 24px;
}

.nav__list li {
    list-style: none;
}

.nav__list li a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.book-now {
    background-color: var(--gold);
    padding: 8px 24px;
    border-radius: 50px;
}

.first__section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first__section__content h1 span {
    display: block;
}

.first__section__content h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 96px;
    color: var(--white);
}

.first__section__content p {
    font-size: 24px;
    color: var(--dark-white);
}

.first__section__content a {
    padding: 16px 32px;
    background-color: var(--gold);
    border-radius: 50px;
    text-decoration: none;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}